a {
  color: antiquewhite;    
  }
  strong{
      color: black;
  }
  .active, .collapsible:hover {
      background-color: #bec6d442;
  }
  .content {
      padding: 0 18px;
      display: none;
      overflow: hidden;
      background-color: #ffffff;
        }
  .jumbotron {
    background-color: #428bca
  }
  .jumbotron h1 {
    color:white;
  }
  p, h1, h4, h3 {
      font-family: 'Lora', serif;
  }
  
  #Theme {
    color: black;
    background-color: #428bca
  }
  